<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyx.undergraduatejob.mapper.CollectMapper">
  <resultMap id="BaseResultMap" type="com.lyx.undergraduatejob.pojo.Collect">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="collector_id" jdbcType="INTEGER" property="collectorId" />
    <result column="collector_type" jdbcType="INTEGER" property="collectorType" />
    <result column="collection_id" jdbcType="INTEGER" property="collectionId" />
    <result column="collection_type" jdbcType="INTEGER" property="collectionType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, collector_id, collector_type, collection_id, collection_type, create_time
  </sql>
  <select id="selectByExample" parameterType="com.lyx.undergraduatejob.pojo.CollectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from collect
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from collect
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from collect
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lyx.undergraduatejob.pojo.CollectExample">
    delete from collect
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lyx.undergraduatejob.pojo.Collect">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into collect (collector_id, collector_type, collection_id, 
      collection_type, create_time)
    values (#{collectorId,jdbcType=INTEGER}, #{collectorType,jdbcType=INTEGER}, #{collectionId,jdbcType=INTEGER}, 
      #{collectionType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lyx.undergraduatejob.pojo.Collect">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into collect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collectorId != null">
        collector_id,
      </if>
      <if test="collectorType != null">
        collector_type,
      </if>
      <if test="collectionId != null">
        collection_id,
      </if>
      <if test="collectionType != null">
        collection_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collectorId != null">
        #{collectorId,jdbcType=INTEGER},
      </if>
      <if test="collectorType != null">
        #{collectorType,jdbcType=INTEGER},
      </if>
      <if test="collectionId != null">
        #{collectionId,jdbcType=INTEGER},
      </if>
      <if test="collectionType != null">
        #{collectionType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lyx.undergraduatejob.pojo.CollectExample" resultType="java.lang.Long">
    select count(*) from collect
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update collect
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.collectorId != null">
        collector_id = #{record.collectorId,jdbcType=INTEGER},
      </if>
      <if test="record.collectorType != null">
        collector_type = #{record.collectorType,jdbcType=INTEGER},
      </if>
      <if test="record.collectionId != null">
        collection_id = #{record.collectionId,jdbcType=INTEGER},
      </if>
      <if test="record.collectionType != null">
        collection_type = #{record.collectionType,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update collect
    set id = #{record.id,jdbcType=INTEGER},
      collector_id = #{record.collectorId,jdbcType=INTEGER},
      collector_type = #{record.collectorType,jdbcType=INTEGER},
      collection_id = #{record.collectionId,jdbcType=INTEGER},
      collection_type = #{record.collectionType,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lyx.undergraduatejob.pojo.Collect">
    update collect
    <set>
      <if test="collectorId != null">
        collector_id = #{collectorId,jdbcType=INTEGER},
      </if>
      <if test="collectorType != null">
        collector_type = #{collectorType,jdbcType=INTEGER},
      </if>
      <if test="collectionId != null">
        collection_id = #{collectionId,jdbcType=INTEGER},
      </if>
      <if test="collectionType != null">
        collection_type = #{collectionType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lyx.undergraduatejob.pojo.Collect">
    update collect
    set collector_id = #{collectorId,jdbcType=INTEGER},
      collector_type = #{collectorType,jdbcType=INTEGER},
      collection_id = #{collectionId,jdbcType=INTEGER},
      collection_type = #{collectionType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>