<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>大学生兼职平台后台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico">

        <!-- DataTables -->
        <link href="/admin/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
        <link href="/admin/libs/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
        
        <!-- App css -->
        <link href="/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin/css/app.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Topbar Start -->
            <div class="navbar-custom">
                <ul class="list-unstyled topnav-menu float-right mb-0">
                    <!--显示未处理消息数...，选做-->

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="dripicons-bell noti-icon"></i>
                            <span class="badge badge-danger noti-icon-badge" name="sum" id="sum" th:text="${sum}"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                            <div class="slimscroll noti-scroll">

                                <!-- item-->
                                <a href="/admin/authentication-company" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning">
                                        <i class="mdi mdi-alert-outline"></i>
                                    </div>
                                    <span name="autCompanies" id="autCompanies" th:text="${autCompanies}"></span>
                                </a>

                                <a href="/admin/authentication-student" class="dropdown-item notify-item active">
                                    <div class="notify-icon bg-warning">
                                        <i class="mdi mdi-alert-outline"></i>
                                    </div>
                                    <span name="autStudents" id="autStudents" th:text="${autStudents}"></span>
                                </a>

                                <a href="/admin/audit-job" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning">
                                        <i class="mdi mdi-alert-outline"></i>
                                    </div>
                                    <span name="jobs" id="jobs" th:text="${jobs}"></span>
                                </a>

                                <a href="/admin/audit-resume" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning">
                                        <i class="mdi mdi-alert-outline"></i>
                                    </div>
                                    <span name="resumes" id="resumes" th:text="${resumes}"></span>
                                </a>

                                <a href="/admin/complaint" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning">
                                        <i class="mdi mdi-alert-outline"></i>
                                    </div>
                                    <span name="complaints" id="complaints" th:text="${complaints}"></span>
                                </a>

                            </div>

                        </div>
                    </li>
                    <!--显示未处理消息数...，选做-->
                    <!--头像...-->
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="/admin/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                            <span class="pro-user-name ml-1" id="admin">
                                 <i class="mdi mdi-chevron-down"></i>
                            </span>
                        </a>
                        <!--<div class="dropdown-menu dropdown-menu-right profile-dropdown ">-->
                            <!--&lt;!&ndash; item&ndash;&gt;-->
                            <!--<div class="dropdown-item noti-title">-->
                                <!--<h6 class="m-0">-->
                                    <!--Hello !-->
                                <!--</h6>-->
                            <!--</div>-->

                            <!--<div class="dropdown-divider"></div>-->

                            <!--&lt;!&ndash; item&ndash;&gt;-->
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">-->
                                <!--<i class="dripicons-power"></i>-->
                                <!--<span>Logout</span>-->
                            <!--</a>-->

                        <!--</div>-->
                    </li>
                    <!--头像...-->
                </ul>

                <ul class="list-unstyled menu-left mb-0">
                    <li class="float-left">
                        <a href="index" class="logo">
                            <span class="logo-lg">
                                <img src="/admin/images/logo.png" alt="" height="25">
                            </span>
                            <span class="logo-sm">
                                <img src="/admin/images/logo-sm.png" alt="" height="24">
                            </span>
                        </a>
                    </li>
                    <li class="float-left">
                        <a class="button-menu-mobile navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left-side-menu">

                <div class="slimscroll-menu">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">


                            <div class="left-user">
                                <div class="user-box">
                                    <div class="user-img">
                                        <img src="/admin/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                                        <a href="javascript:void(0);" class="user-edit"><i class="mdi mdi-pencil"></i></a>
                                    </div>
                        
                                    <h5><a id="adminNick" href="javascript: void(0);"></a> </h5>
                                    <p class="text-muted mb-0"><small>Main Admin</small></p>
                                </div>
                            </div>

                            <li>
                                <a href="index">
                                    <i class="dripicons-device-desktop"></i>
                                    <span> 主页 </span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="dripicons-view-apps"></i>
                                    <span> 审核管理 </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="/admin/audit-job">职位审核管理</a>
                                    </li>
                                    <li>
                                        <a href="/admin/audit-resume">简历审核管理</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="dripicons-inbox"></i>
                                    <span> 用户管理  </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="/admin/manager-student">学生管理</a>
                                    </li>
                                    <li>
                                        <a href="/admin/manager-company">企业管理</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="dripicons-briefcase"></i>
                                    <span> 认证管理 </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="/admin/authentication-student">学生认证管理</a>
                                    </li>
                                    <li>
                                        <a href="/admin/authentication-company">企业认证管理</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="dripicons-graph-pie"></i>
                                    <span> 广告管理 </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="/admin/manager-advertising">广告管理</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="dripicons-document"></i>
                                    <span> 评论管理 </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="/admin/manager-comment">评论管理</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="dripicons-view-list"></i>
                                    <span> 投诉管理 </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="/admin/manager-complaint">投诉管理</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                    </div>
                    <!-- End Sidebar -->

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">主页</a></li>
                                            <li class="breadcrumb-item active">认证管理</li>
                                            <li class="breadcrumb-item active">公司认证管理</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">公司认证管理</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <div class="row">
                            <div class="col-xl-12 stretch-card">
                                <div class="card-box">

                                    <h4 class="header-title mb-4">公司认证表</h4>
                                    <div >
                                        <div class="form-inline" style="float: right">
                                            <input th:value="${proposerName}" type="text" class="form-control" placeholder="申请人姓名" id="proposerName">
                                            <input th:value="${companyId}" type="text" class="form-control" placeholder="公司ID" id="companyId">
                                            <select th:value="${status}" type="text" class="form-control" style="width:188px" placeholder="状态" id="status" name="status">
                                                <option value="" th:selected="${status eq 0}">全部</option>
                                                <option value="0" th:selected="${status eq 0}">不通过</option>
                                                <option value="1" th:selected="${status eq 1}">通过</option>
                                                <option value="2" th:selected="${status eq 2}">未审核</option>
                                            </select>
                                            <button style="background-color: lightskyblue;height: 38px;width: 38px;border: lightskyblue;" class="" type="submit"><i class="fa fa-search"></i></button>
                                            </form>

                                        </div>

                                        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel">图片详情</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h5>公司认证图片</h5>
                                                        <hr>
                                                        <h5>营业执照</h5>
                                                        <ul id="picList">
                                                            <!--<li><img th:src="${pic.pictureUrl}"></li>-->
                                                        </ul>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">确定</button>
                                                        <!--<button type="button" class="btn btn-light waves-effect"></button>-->
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div>

                                        <div class="table-responsive" th:fragment="table" id="table">
                                            <table class="table table-centered table-hover mb-0">
                                                <thead>
                                                <tr>
                                                    <th class="border-top-0">ID</th>
                                                    <th class="border-top-0">公司ID</th>
                                                    <th class="border-top-0">申请者姓名</th>
                                                    <th class="border-top-0">身份证号码</th>
                                                    <th class="border-top-0">手机号码</th>
                                                    <th class="border-top-0">营业执照编码</th>
                                                    <th class="border-top-0">认证图片</th>
                                                    <th class="border-top-0">创建时间</th>
                                                    <th class="border-top-0">状态</th>
                                                    <th class="border-top-0 text-center">操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="aut,adStas:${pages.list}">
                                                    <td th:text="${aut.id}"></td>
                                                    <td th:text="${aut.companyId}"></td>
                                                    <td th:text="${aut.proposerName}"></td>
                                                    <td th:text="${aut.idCard}"></td>
                                                    <td th:text="${aut.proposerPhone}"></td>
                                                    <td th:text="${aut.licenseCard}"></td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary waves-effect waves-light" th:onclick="'load_pic('+${aut.id}+')'">图片详情</button>
                                                    </td>
                                                    <td th:text="${#dates.format(aut.createTime,'yyyy-MM-dd')}"></td>
                                                    <td class="td-status" th:if="${aut.status eq 0}"><span class="badge badge-danger">不通过</span></td>
                                                    <td class="td-status" th:if="${aut.status eq 1}"><span class="badge badge-success">通过</span></td>
                                                    <td class="td-status" th:if="${aut.status eq 2}"><span class="badge badge-warning">未审核</span></td>
                                                    <td class="text-center">
                                                        <a th:onclick="'adopt_shenhe('+${aut.id}+','+${aut.status}+','+${aut.companyId}+')'" class="badge-info btn-sm mg-y-5" data-toggle="tooltip" data-placement="top" title="" data-original-title="通过"><i class="mdi dripicons-checkmark"></i></a>
                                                        <a th:onclick="'unadopt_shenhe('+${aut.id}+','+${aut.status}+','+${aut.companyId}+')'" class="badge-danger btn-sm mg-y-5" data-toggle="tooltip" data-placement="top" title="" data-original-title="不通过"><i class="mdi dripicons-cross"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="10">
                                                        <ul class="pagination" style="float: right">

                                                            <li class="page-item">
                                                                <span class="page-link" th:onclick="'query(1)'">首页</span>
                                                            </li>
                                                            <li class="page-item"><span class="page-link">...</span></li>
                                                            <span  th:each="p:${pages.navigatepageNums}">
                                                            <li th:value="${pages.pageNum}" th:if="${pages.pageNum == p}" class="page-item active"><span class="page-link" th:onclick="'query('+${p}+')'" th:text="${p}"></span></li>
                                                            <li th:if="${pages.pageNum != p}" class="page-item"><span class="page-link" th:onclick="'query('+${p}+')'" th:text="${p}"></span></li>
                                                            </span>
                                                            <li class="page-item"><span class="page-link">...</span></li>
                                                            <li class="page-item">
                                                                <span class="page-link" th:onclick="'query('+${pages.pages}+')'">尾页</span>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div> <!-- end card-box-->
                                </div> <!-- end col-->
                            </div> <!-- end row -->

                        </div> <!-- container -->

                    </div> <!-- content -->

                    <!-- Footer Start -->
                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    2019 © 版权所有 ：<a href="#">优先</a>
                                </div>
                            </div>
                        </div>
                    </footer>


                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->

        <!-- Vendor js -->
        <script src="/admin/js/vendor.min.js"></script>

        <!-- KNOB JS -->
        <script src="/admin/libs/jquery-knob/jquery.knob.min.js"></script>
        <!-- Chart JS -->
        <script src="/admin/libs/chart-js/Chart.bundle.min.js"></script>
        <!-- DatePicker JS -->
        <script src="/admin/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        
        <!-- Datatable js -->
        <script src="/admin/libs/datatables/jquery.dataTables.min.js"></script>
        <script src="/admin/libs/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="/admin/libs/datatables/dataTables.responsive.min.js"></script>
        <script src="/admin/libs/datatables/responsive.bootstrap4.min.js"></script>

        <script src="/admin/libs/datatables/dataTables.buttons.min.js"></script>
        <script src="/admin/libs/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/admin/libs/datatables/buttons.html5.min.js"></script>
        <script src="/admin/libs/datatables/buttons.flash.min.js"></script>
        <script src="/admin/libs/datatables/buttons.print.min.js"></script>

        <script src="/admin/libs/datatables/dataTables.keyTable.min.js"></script>
        <script src="/admin/libs/datatables/dataTables.select.min.js"></script>

        <script src="/admin/libs/custombox/custombox.min.js"></script>

        <!-- Dashboard Init JS -->
        <!--<script src="/admin/js/pages/datatables.init.js"></script>-->
        <script src="/admin/js/pages/dashboard.init.js"></script>

        <!-- App js -->
        <script src="/admin/js/app.min.js"></script>
        <script>

            $(document).ready(function(){
                console.log("页面加载完毕后运行");
                messages();
            })

            function messages() {
                $.post("/admin/message",function(result){
                    console.log(result.data);
                    $('#sum').text(result.data.sum);
                    $('#autCompanies').text('您有'+result.data.autCompanies+'条企业认证信息未处理');
                    $('#autStudents').text('您有'+result.data.autStudents+'条学生认证信息未处理');
                    $('#jobs').text('您有'+result.data.jobs+'条职位审核信息未处理');
                    $('#resumes').text('您有'+result.data.resumes+'条简历审核信息未处理');
                    $('#complaints').text('您有'+result.data.complaints+'条投诉信息未处理');

                    var admin = result.data.admin;
                    var name = admin == null ? "大苹果" : admin.nickName == null ? admin.entityName : admin.nickName;
                    $('#admin').text(name);
                    $('#adminNick').text(name);
                })
            }
            //查询
            function query(indexpage) {
                var proposerName = $("#proposerName").val();
                var companyId = $("#companyId").val();
                var status = $("#status").val();

                $.ajax({
                    url:"/aut/query_aut_company",
                    type:"POST",
                    data:{
                        "proposerName":proposerName,
                        "companyId":companyId,
                        "status":status,
                        "indexpage":indexpage
                    },
                    success: function (data) {
                        $("#table").html(data);
                    }
                });

            }

            function update(id,status,companyId) {
                $.ajax({
                    url:"/aut/update_aut_company_status",
                    type:"POST",
                    data:{
                        "id":id,
                        "status":status,
                        "companyId":companyId
                    },
                    success:function (result) {
                        alert(result.message);
                        var indexpage = $(".page-item.active").val();
                        query(indexpage);
                    }
                })
            }
            //确认不通过认证
            function unadopt_shenhe(id,status,companyId){

                if (status != 2){
                    alert("只能操作未审核的认证!")
                } else {
                    if (confirm("确认不通过？")) {
                        //self.location = "/aut/update_aut_company_status?id="+id+"&status=0&companyId="+companyId;
                        update(id,0,companyId);
                    }
                }

            }
            //确认通过认证
            function adopt_shenhe(id,status,companyId){

                if (status != 2){
                    alert("只能操作未审核的认证!")
                } else {
                    if (confirm("确认通过？")) {
                        //self.location = "/aut/update_aut_company_status?id="+id+"&status=1&companyId="+companyId;
                        update(id,1,companyId);
                    }
                }

            }
            //显示图片详情
            function load_pic(id) {
                $.ajax({
                    url:"/aut/aut_company_pic_load",
                    type:"POST",
                    dateType:"json",
                    data:{
                        "id":id
                    },
                    success:function(data){
                        var list = data.data
                        while ($("#picture").length > 0) {
                            $("#picture").remove();
                        }
                        for (var i = 0; i < list.length; i++) {
                            $("#picList").append("<li id='picture'><img src=\""+list[i].pictureUrl+"\"></li>");
                        }
                        $("#myModal").modal('show');
                    }
                });
            }
        </script>


    </body>
</html>